
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg_video {
	opacity: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

.t-ttl{
	font-family: 'Shrikhand', cursive;
	color: white;
	font-size: 45px;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
}

.t-subttl{
	text-align: center;
	color: #f2f0ee;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 4px #000000;
}

h3{
	color: white;
	font-family: 'Shrikhand', cursive;
	font-size: 40px;
	text-align: center;
}
p{
	color: white;
	font-family: 'Open Sans', sans-serif;
}

button{
	display: block;
	width: 400px;
	height: 100px;
	margin: 10px auto 0 auto;
	font-size: 45px;
	font-family: 'Shrikhand', cursive;
	text-shadow: 2px 2px 4px #000000;
	color: white;
	background: none;
	border: none;
}
button:focus { outline: none; }

.jumbotron{
	margin: 20px;
	opacity: 40%;
}

/*.col-sm-3{
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
}*/

.score{
	top: 15%;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
}

.guesses{
	top: 32%;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
}

.col-sm-9{
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-top: 20px;
	padding: 10px;
	left: 10%;
	right: 10%;
	bottom: 5%;
}

#keyboard{
	/* width: 0; */
	/* overflow: hidden; */
}
#keyboardInput{
	/* position: absolute; */
	/* display: none; */
	/* visibility:hidden; */
	position: absolute;
	overflow: hidden;
	/* display: none; */
	top: -500px;
	left: -500px;
	opacity: 0 !important;
	/* font-size: 16px; */
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
	.score{
		top: 15%;
		left: 35%;
		padding: 0px;
		padding-top: 6px;
		margin: 0px;
		width: 100px;
	}
	.guesses{
		top: 28%;
		left: 7%;
		padding-top: 6px !important;
		width: 30rem;
		padding: 0px;
		margin: 0px;
	}
	h3{
		font-size: 20px;
	}
	.t-ttl{
		font-size: 17px;
	}
	.t-subttl{
		font-size: 15px;
	}
	.col-sm-9{
		bottom: 36%;
	}
	button{
		width: 200px;
	}
}
